@use "./mixins";
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* variables */
    --background-primary: #173A52;
    --background-secondary: #005271;
    --background-secondary-light: #136E90;
    --background-tertiary: #E5EEF1;
    --background-light: white;


    --text-light: white;
    --text-gray: #868974;
    --text-gray-light: #E0DFD8;
    --text-dark: black;
    --text-error: #F95A5A;

    --gradient-primary: linear-gradient(284deg, #FCFCD1 9.72%, #B2E7DD 44.61%, #76D6E6 79.5%);

    --hd-yellow: #F6D995;
    --hd-orange: #FFC53D;

    /* spacers */
    --tiny-spacer: 8px;
    --small-spacer: 16px;
    --spacer: 24px;
    --small-medium-spacer: 32px;
    --medium-spacer: 48px;
    --large-spacer: 80px;
    
    /* border radius */
    --b-radius: 8px;
    --b-radius-large: 16px;

    /* navbar */
    --navbar-height: 80px;

    background-color: var(--background-light);
}

html {
    max-width: 500px;
    min-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova";
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}

input[type="email"], input[type="password"], input[type="text"] {
    padding: 10px 8px;
    border-radius: var(--b-radius);
    border: 1px solid rgba(0, 0, 0, 0.27);
    font-size: 1rem;
    font-weight: 600;
}

::placeholder {
    color: #A7AEB0;
    font-size: 1rem;
    font-weight: 600;
  }
