.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: #005271;
  width: 100%;

  height: fit-content;
  padding: 10% 17px 60px 17px;

  .header {
      color: #FFF;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.36px;
  }
  .map {
      width: 90%;
      height: 100%;
      border: 1px solid #000;
      background: #000;
      padding: 10%;
  }
}