.commentContainer {
    display: flex;
    flex-direction: column;
    background-color: #CEE7F4;
    align-items: center;
    width: 100%;
    .commentTitle {
        width: 91%;
        color: #000;
        font-family: "Proxima Nova";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 64px;
        margin-bottom: 7px;
    }

    .commentDescription {
        width: 91%;
        color: #000;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 15.5px;
    }
    .commentBox {
        width: 91%;
        height: 170px;
        margin-bottom: 48px;
        padding: 15.5px;
        resize: none;
        border-radius: 7.748px;
        background: #FFF;
    }
}