.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CEE7F4;
    gap: 20px;

    .scoringTitle {
        width: 91%;
        color: #000;
        font-family: "Proxima Nova";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 42px;
    }
}