.container {
    display: flex;
    flex-direction: column;
    background-color: #CEE7F4;
    align-items: center;
    width: 100%;
    .submitButton {
        width: 91%;
        height: 46px;
        margin-bottom: 32px;

        color: #173A52;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.36px;

        border-radius: 15.497px;
        border: 2px solid #FFC370;
        background: #FFC53D;
    }

    .disabled {
        color: #173A52;
        border: 2px solid #F6D995;
        background: #F6D995;
        cursor: not-allowed;
    }

    .submitDescription {
        width: 91%;
        color: #000;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 64px;

    }

    .error_text {
        color: red;
        font-size: 1.25rem;
    }
}