.teamBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #005271;
    height: fit-content;
    padding-bottom: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 82, 113, 0.25);

    .topText {
        display: flex;
        justify-content: space-between;
        padding: 32px;
        padding-bottom: 0;
        width: 100%;
        align-items: center;

        >div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .teamTable {
            color: #FFF;
            font-family: "Proxima Nova";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .mapContent {
            display: flex;
            justify-content: space-around;
            gap: 10px;

            .mapText {
                color: #FFF;
                font-family: "Proxima Nova";
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
    .teamName {
        color: #FFF;
        font-family: "Proxima Nova";
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .guideContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 16px 24px 16px;
        width: 350px;
        height: 118px;
        background: #CDE1E1;
        border-radius: 8px;

        .guideText {
            width: 299px;
            color: #000;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .guideButton {
            display: flex;
            align-self: flex-start;
            align-items: center;
            justify-content: center;
            gap: 8px;
            width: 144px;
            height: 38px;
            margin-top: 10px;

            border-radius: 24px;
            border: 0.5px solid #005271;
            background: #FFF;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

            .guideButtonText {
                color: #000;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}