.container {
    width: 100%;
    background-color: var(--background-secondary);
    padding: 22px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 82, 113, 0.25);
    border: 0;
    
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -20px;

        &_title {
            color: var(--text-light);
            // font-family: "DM Sans";
            font-size: 36px;
            font-weight: 700;
        }

        &_map {
            margin: 0;
            // width: auto;
            // height: 80%;
            
            border-radius: 8px;
            border: 1px solid #000;
            background: linear-gradient(296deg, #FCFCD1 -9.72%, #B2E7DD 36.02%, #76D6E6 106.05%);
            box-shadow: 0px 4px 4px 0px rgba(136, 216, 221, 0.20);
    
            padding: 4px 6px 0px 6px;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;

            &_icon {
                width: 28px;
                height: 28px;
            }
        }
        
        .mapPopUp {
            width: 90px;
            height: 100%;
            border: 1px solid #000;
            background: #000;
            padding: 10%;
        }
        
    }

    .projectType {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 38px;
        font-size: 24px;
        
        .title {
            color: rgba(254, 254, 254, 0.50);
            font-weight: 600;
            line-height: 150%; /* 36px */
            cursor: pointer;
        }
        
        .selected {
            color: var(--text-light);
            border-bottom: 1px solid white;
            // text-decoration: underline 0.15em white;
            // transition: border-bottom 300ms;
        }
    }
}