.card { 
    background-color: #CEE7F4; 
    border-radius: 10px;
    box-shadow: 0px 9px 8px 0px rgba(109, 209, 225, 0.08);
    margin: 24px;
    padding: 20px 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;

    .teamNumber {
        font-weight: 600;
        font-size: 48px;
        text-align: right;
        min-width: 40px;
    }

    .text {
        overflow: hidden;
        .teamName {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
}

.categoriesContainer {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;

    .category {
        border-radius: 16px;
        background-color: var(--background-light);
        box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
        padding: 4px 12px;
        margin-right: 3px;
        text-wrap: nowrap;
    }

    .extra {
        background-color: var(--background-light);
        border-radius: 100px;
        box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
        padding: 5px 7px;
        align-self: center;
    }
}