.container {
    width: 100%;
    overflow: hidden;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--small-spacer);
    position: relative;

    .top_blurb {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .top_left_blurb {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .bottom_blurb {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .welcome_text {
        padding: 68px 13px 0px 13px;
        display: flex;
        flex-direction: column;
        gap: var(--tiny-spacer);
        z-index: 1;

        >p {
            color: var(--text-light);
            font-size: 1.5rem;
            font-weight: 700;
        }
    
        .name_container {
            width: 100%;
            overflow: hidden;
    
            >h1 {
                background: var(--gradient-primary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .gavel_cow {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        z-index: 1;


        .cow_container {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            width: 60%;
            margin-right: -10%;

            .cow {
                width: 100%;
            }

            .wig {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin-left: -6%;
            }

        }

        .text_bubble_tail {
            position: absolute;
            bottom: 49.6%;
            left: 49.5%;
        }

        .blurb {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: var(--small-spacer);
            padding: 11px;
            position: absolute;
            right: var(--small-spacer);
            top: var(--small-spacer);
            background-color: var(--background-light);
            border-radius: var(--b-radius);

            .intro_text {
                font-size: 1rem;
                font-weight: 500;
            }

            .name {
                font-size: 1.75rem;
                font-weight: 600;
            }
        }
    }
}