.container {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    border: 0;


    .searchBar {
        margin: 0;
        border-radius: 36px;
        border: 1px solid #000;
        // background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
        padding: 2px 40px 2px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .map {
        margin: 0;
        
        border-radius: 8px;
        border: 1px solid #000;
        background: linear-gradient(296deg, #FCFCD1 -9.72%, #B2E7DD 36.02%, #76D6E6 106.05%);
        box-shadow: 0px 4px 4px 0px rgba(136, 216, 221, 0.20);

        padding: 8px 12px;
        justify-content: flex-end;
        align-items: center;
    }

}