.container {
    width: 100%;
    padding: var(--spacer) var(--small-spacer);
    background-color: var(--background-light);
    border-radius: var(--b-radius);

    display: flex;
    flex-direction: column;

    .error_msg {
        color: var(--text-error);
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: var(--tiny-spacer);
    }

    .fields {
        display: flex;
        flex-direction: column;
        gap: var(--small-spacer);
        margin-bottom: var(--small-medium-spacer);
    }

    .error {
        border-color: var(--text-error);
    }

    .login_button {
        padding: 5px 18px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: normal;
        color: var(--text-gray);
        border: none;
        border-radius: var(--b-radius-large);
        background-color: var(--hd-yellow);
        cursor: not-allowed;
        margin-bottom: 12px;
    }

    .valid {
        background-color: var(--hd-orange);
        color: var(--background-primary);
        cursor: pointer;
    }

    .not_judge {
        text-align: center;
        font-size: 0.75rem;
        a {
            color: var(--background-primary);
            font-weight: 700;
            text-decoration: underline;
        }
    }
}