@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.scoringCard {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 20px;
    width: 92%;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 24px;

    .categoryName {
        color: #000;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: flex-start;
        margin-left: 10px;
    }
    .scoringCircleContainer {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        
        .scoringCircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%; /* Make the border radius half of the width/height to create a circle */
            border: 2px solid black;
            cursor: pointer;
        }
        .scoringCircleFilled {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%; /* Make the border radius half of the width/height to create a circle */
            border: 2px solid black;
            color: white;
            background-color: #005271;
            font-family: 'DM Sans', sans-serif;
            cursor: pointer;
        }
        .scoringCircle:hover {
            border: 3px solid #005271;;
        }
    }
}