$bg-color:  #005271;

.judgesLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: $bg-color;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 77px 47px 0px 47px;
  // border: 1px solid black;
  // border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: $bg-color;

  &_BG{
    width: 100%;
    height: 400px;
  }

  &_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 21px;

    // border: 1px solid black;
    p{
      color: #FFF;
      // font-family: Proxima Nova;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 22.5px */
      letter-spacing: 0.36px;
    }

    h1{
      // font-family: Proxima Nova;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 80px */
      letter-spacing: 1.28px;
      background: var(--gradient, linear-gradient(284deg, #FCFCD1 9.72%, #B2E7DD 44.61%, #76D6E6 79.5%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      margin-left: 31px;
    }
  }
}