.container {

    .teamBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        background: #005271;
        height: 325px;

        .topText {
            display: flex;
            justify-content: space-between;
            padding-top: 64px;
            width: 350px;

            .teamTable {
                color: #FFF;
                font-family: "Proxima Nova Medium";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .mapContent {
                display: flex;
                justify-content: space-around;
                gap: 10px;

                .mapText {
                    color: #FFF;
                    font-family: "Proxima Nova";
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }
        .teamName {
            color: #FFF;
            font-family: "Proxima Nova";
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .guideContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 350px;
            height: 118px;
            background: #CDE1E1;
            border-radius: 8px;

            .guideText {
                width: 299px;
                color: #000;
                font-family: "Proxima Nova";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}